@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    box-sizing: border-box;
    background-color: #003594;
    font-family: 'Quicksand','Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 200;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*
==========================================================================
    Main panels
==========================================================================
*/

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel {
    background: #869397;
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1); /* creates the lines in between panels*/
    color: white;
    text-align: center;
    align-items: center;
    transition: font-size 0.7s cubic-bezier(0.61,-0.19,0.7,-0.11), /* the expanding effect */
                flex 0.7s cubic-bezier(0.61,-0.19,0.7,-0.11), background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
/*
===================================================================
    Back ground Images
===================================================================
*/
.panel1 {
    background-image: url(https://a.espncdn.com/photo/2011/0126/dal_sbteam15_800.jpg);
}

.panel2 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f5/Staubach_cowboys_qb.jpg);
}

.panel3 {
    background-image: url(https://cdn.britannica.com/86/197086-050-7FEFA7A6/Emmitt-Smith.jpg);
}

.panel4 {
    background-image: url(https://i.pinimg.com/originals/b6/a0/75/b6a0755825829a73d8319b6d5a9088c1.jpg);
}

.panel5 {
    background-image: url(https://a.espncdn.com/photo/2011/1103/dal_g_allen_b1_300.jpg);
}


/*
================================================================================================
    Creating Transform effect for Words
================================================================================================
*/

.panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child {
    transform: translateY(-100%);  /* removed top text lines/flexbox off screen*/
}

.panel > *:last-child {
    transform: translateY(100%);
}

.panel.open-active > *:first-child,
.panel.open-active > *:last-child {
    transform: translateY(0);
}

.panel p:nth-child(3) {
    font-size: 1.2rem;
}

.panel.open {
    flex: 5;
    font-size: 30px;
}

.cta {
    color: white;
    text-decoration: none;
}

/*
======================================================================================
    Styling for Informational text on players
======================================================================================
*/

.panel h1 {
    text-transform: uppercase;
    font-family: 'Quicksand''Times New Roman', Times, serif;
    text-shadow: 0 5px 4px rgba(0, 0, 0, 0.72), 0 5px 14px rgba(0, 0, 0, 0.45);
    font-size: 2rem;
}
.panel h1 {
    background: rgba(0, 0, 0, 0.35);
}

.panel p {
    text-transform: uppercase;
    font-family: 'Quicksand''Times New Roman', Times, serif;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.45);
}

/*
============================================================================================
    Hover effect on H1. Looked into using background clips, to create a new sliding effect
============================================================================================
*/

.panel h1 {
    background:
      linear-gradient(-85deg, #000  40%, #fff 0 60%, #000  0) right/300% 100% no-repeat,
      linear-gradient(-85deg, #0000 40%, #000 0 60%, #0000 0) right/300% 100% no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
  }
.panel h1:hover {
    background-position: left;
    transition: 0.8s
  }